@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
body{
    background: linear-gradient(to right, #00c6ff, #0072ff);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img/login2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-box{
    width: 400px;
    max-width: 100%;
    background: #fff;
    padding: 35px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}
.input-box input{
    width: 320px;
    height: 42px;
    max-width: 400px;
    padding: 20px 10px;
    font-size: 16px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.remember{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 50px;
    margin-top: 10px;
}
.remember input{
    margin-right: 10px;
    font-size: 10px;
    cursor: pointer;
    margin-left: 7px;
}
.remember  a{
   color: rgb(0, 0, 0);
   text-decoration: none;
   margin-right: 15px;
}
.remember a:hover{
    text-decoration: underline;
}
.button-box button{
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    gap: 7px;
    background-color: #3557dc;
    color: #ffffff;
    border: none;
    padding: 5px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
}
.button-box button:hover{
    background-color: #224195;
}
.button-box button:active{
    background-color:#1b306c;
}
.button-box button a{
    color: #ffffff;
    text-decoration: none;
}
.line {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 20px;
  }
  
  .line-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
  }
  
  .line-hr {
    flex: 1;
    border: none;
    height: 1px;
    background-color: #ccc;
  }
  
  .line-text {
    margin: 0 10px;
    color: #666;
    font-weight: 300;
    white-space: nowrap;
  }
  
  .login-with-text {
    margin-top: 10px;
    color: #555;
    font-size: 13px;
  }
.login-with{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}  
svg{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 10px;
}